[Unit]
Description=Inventory Service
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=/usr/bin/docker pull quay.io/taylor_fahlman/inventory
ExecStart=/usr/bin/docker run  --rm --net=host --privileged quay.io/taylor_fahlman/inventory
#ExecStop=/usr/bin/docker ps -a | awk '/taylor_fahlman/ {print $1}' | xargs -I % /bin/bash -c 'docker stop; docker rm'


[Install]
WantedBy=multi-user.target
